*, ::before, ::after{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", "helvetica";
    color: #fff;
font-size: 16px;
line-height: 1.42;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
width: auto;
height: auto;
margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
h1,h2, h3, h4, h5, h6{
margin: 0;
font-weight: normal;
}
p{
    margin: 0;
}
a{
    color: inherit;

}
.container{
    margin: 0 auto;
    width: 1145px;
    position: relative;
}
 .wrapper-main{
    background: url(../project_content/bg/top.png) center top no-repeat, url(../project_content/bg/bottom.png) center bottom no-repeat #17191C;


 }
.header{
min-height: 100px;
padding: 26px 0px;
position: relative;
}
.logo{
    display: block;
}
.header__logo{
    display: block;
    position: absolute;
    top: 34px;
    left: 0px;
}
.menu{
    position: absolute;
    top: 36px;
    left: 419px;
}
.contacts{
    font-style: normal;
    text-align: right;
    position: absolute;
    top: 27px;
    right: 0;
}
.contacts__description{
    color: #9A9A9A;
    font-size: 11px;
    font-weight: 400;


}
.contacts__popup{
    display: none;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 62px;
}
.menu__link{
    font-size: 16px;
    text-decoration: none;

}
.contacts__phone{
    margin-bottom: 2px;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.4;
}
.contacts__sentens{
    font-size: 13px;
    text-decoration: underline;
    line-height: 1;
}
.hero{
    margin-bottom: 108px;
}
.description{
    margin-bottom: 189px;
}

.description__text-section{

    width: 637px;

}

.description__title{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}
.description__text{
    font-size: 21px;
    margin-bottom: 76px;
}
.description__btn-more{
    display: inline-block;
    font-size: 14px;
    background:  #8F00FF;
    border-radius: 5px;
    padding: 18px 38px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.news__decor{
    display: inline-block;
    vertical-align: middle;

}
.news__main-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.news__item{
    min-height: 450px;
    display: inline-block;
    margin-right: 22px;
    border-radius: 5px;
    background: #fff;
    width: 362px;
    overflow: hidden;
    vertical-align: top;
}
.news__item:last-child{
    margin-right: 0px;
}
.news__cover-wrap{
    width: 362px;
    height: 144px;
    overflow: hidden;
}
.news__cover{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.news__content{
    padding: 33px 22px 26px;
}
.news__card-title{
    font-size: 24px;
    font-weight:  700;
    color: black;
    margin-bottom: 24px;
}
.news__features{
    margin-bottom: 22px;
    padding-left: 4px;
   
}
.news__feature{
    font-size: 16px;
   color:  #666666;
   display: inline-block;
   margin-right: 51px;

   
}
.news__feature:last-child{
    margin-right: 0px;
}

.news__feature-icon{
     display: inline-block;
     vertical-align: middle;
}
.news__feature-text{
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

.news__text{
    color: #303030;
    margin-bottom: 30px;
    font-size: 14px;
}
.news__look{
    display: inline-block;
    border: 1px solid #8F00FF;
    box-sizing: border-box;
    border-radius: 5px;
   color: #8F00FF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 29px;
    text-transform: uppercase
}
.news__look:hover{
    color: #ffff;
    background: #8F00FF;
}
.lastgame{
    margin-top: 120px;
}
.lastgame__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.lastgame__item{
width: 557px;
height: 394px;
margin-right: 26px;
display: inline-block;
vertical-align: top;
position: relative;
margin-bottom: 57px;
overflow: hidden;
}
.lastgame__item:last-child{
    margin-right: 0px;
}
.lastgame__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
}
.lastgame__content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 162px;
}
.lastgame__date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.lastgame__name{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1px;
    margin-top: 12px;
}

.paginator{
    text-align: center;
}
.paginator__display{
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;
}
.paginator__list{
    display: inline-block;
    vertical-align: middle;
   ;

}
.paginator__item{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    

}
.paginator__link{
    text-decoration: none;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;

}
.paginator__link--state-active{
    background: #8F00FF;

}
.paginator__link:hover{
    background: #8F00FF;
   
}
.about{
margin-top: 131px;
}
.about::before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 489px;
    height: 505px;
background: url(../project_content/about/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center / cover no-repeat;

}
.about__desc{
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%),
    linear-gradient(0deg, #212121, #212121);
    Width: 785px;
padding: 70px 203px 65px 80px;
margin-left: 348px;
margin-top: -408px;
    
    
}
.about__title{
    margin-top: 11px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 37px;
}
.about__desc-text{
    min-width: 502px;
    margin-bottom: 40px;
    line-height: 1.7;
}
.about__more{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
padding: 18px 40px;
}
.footer{
   
    position: relative;
    
}
.footer__main{
    height: 152px;
    margin-top: 46px;
}
.footer__logo{
    position: absolute;
    top: 52px;
    left: 0px;
}
.footer__menu{
    top: 54px;
    left: 286px;
}
.footer__main__container{
    padding-top: 9px;
}
.footer__main__wrap{
border-top: 1px solid;
position: relative;
}
.social{
    position: absolute;
    top: 53px;
    right: 300px;
}
.social{
    top: 49px;
    right: 265px;
}
.social__element{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.social__element:last-child{
    margin-right: 0px;
}
.social__link{
    display: block;
    text-decoration: none;
}
.contacts footer{
    top: 45px;
    right: 5px;
}
