.btn{
    background: #8F00FF;
    color: white;
    display: inline-block;
font-size: 14px;
border-radius: 5px;
padding: 18px 38px;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
border: none;
margin-right: 17px;
cursor: pointer;
margin-top: 11px;
}

.btn--color--black{
 background: #2B2B2B;
}

.btms{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}