.footer--container__content{
    border-top: 1px solid #fff;
    margin-top: 60px;
}
.footer-container__section{
    height: 95px;
    margin-top: 52px;
}
.footer{
    position: relative;
   
    display: flex;
   justify-content: space-between;
}