.form__row{
    display: flex;
    margin-bottom: 30px;
}
.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}
.form__input:focus{

    outline: 1px solid #8F00FF;
}

.form__input:last-child{
    margin-right: 0px;
}
.form__controls{
    display: flex;
    color: #1A1B1E;
}
.placeholder{
    font-size: 18px;
    color:  #1A1B1E;
}
.form__input--textarea{
    height: 232px;
}
.form__controls--title{
    width: 40%;
}


