.header{
    min-height: 100px;
    padding: 26px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .header__col{
        display: flex;
        align-items: center ;
    }
    .header__col--left{
        display: flex;
        justify-content: flex-start;
    }
    .header__col--center{
        display: flex;
        justify-content: center;
    }
    .header__col--right{
        display: flex;
        justify-content: flex-end;
    }