.inner-footer{
    background:  #17191C;
}
.inner-footer__container{
    padding: 46px 0px;
}
.inner-footer__logo{
    margin-top: 20px;
}
.inner-footer--list{
    margin-top: 20px;
    margin-right: 52px;
}
.inner-social__list{
    margin-top: 20px;
}