.inner-section {
    padding: 67px 28px ;
    margin-bottom: 4px;
}
.inner-section--bg--grey{
    background: #F4F5F5;
}
.inner-section__title{
    font-size: 48px;
    color: #1A1B1E;
    font-weight: 700;
    margin-bottom: 70px;
}
.inner-section__title-review{
    font-size: 48px;
    color: #1A1B1E;
    font-weight: 700;
    margin-bottom: 57px;
}
.inner-section--review{
    padding: 68px 28px ;
}