.inner-footer{
    background:  #17191C;
}
.inner-footer__container{
    padding: 46px 0px;
}
.inner-footer__logo{
    margin-top: 20px;
}
.inner-footer--list{
    padding-top: 27px;
    padding-right: 47px;
}
.inner-social__list{
    margin-top: 20px;
}