.logo{
    display: block;
    margin-right: 25px;
}
.logo__pic{
display: block;
    }
    .logo--footer--thin{
    margin-top: 16px;
        margin-right: 53px;
    }
.logo__footer--main{
    margin-right: 49px;
}