.menu{
    display: flex;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 62px;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__link{
    font-size: 16px;
    text-decoration: none;
}
.menu__list{
    display: flex;
    margin-bottom: 15px;
}