.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginator__display{
   
    margin-right: 26px;
}
.paginator__list{
display: flex;
align-items: center;
}
.paginator__item{
   text-align: center;
    font-weight: bold;
    

}
.paginator__link{
    text-decoration: none;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;

}
.paginator__link--state-active{
    background: #8F00FF;
}
.paginator__link:hover{
    background: #8F00FF;
    transition: 0.3s;
   
}
.paginator--games{
    margin-top: 55px;

}