.partners{
    display: flex;
    flex-wrap: wrap;
}
.partner__item{
   margin-right: 7px;
   margin-bottom: 19px;
}
.partner__item:nth-child(4n + 1) {
    margin-right: 0;
}

.partner__link{
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
}