.social__list{
    margin-top: 9px;
    display: flex;
}
.social__list--game{
    margin-top: 29px;
}
.social__list--thin-footer{
    margin-right: 1px;
     margin-top: 28px;
}
.social__element{
    margin-right: 13px;
}
.social__element:last-child{
        margin-right: 0px;
}

.social__link{
    display: block;
    text-decoration: none;
    width: 20px;
   height: 20px;
   margin-right: 10px;
   position: relative;
   
}
.social__link:hover{
filter: brightness(200%);
transition: 0.3s;

}

.social__link--vk:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../project_content/css_sprites-2.png') -178px -10px;
 }
 
 .social__link--fb::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../project_content/css_sprites-2.png') -234px -10px;
 }
 .social__link--tg::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../project_content/css_sprites-2.png') -122px -10px;
 }
 .social__link--inst::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../project_content/css_sprites-2.png') -66px -10px;
 }