.top-line{
    min-height: 412px;
    background: url(../../project_content/bg/top.png) right 50% center no-repeat,  #17191C;
    display: flex;
    flex-direction: column;
    }
    .top-line__container{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 25px;
    }